<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31430609-2"></script>
 <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-31430609-2');
 </script>
 <meta charset="utf-8">
 <!-- Use <%= page.title %> for dynamic title -->
 <title><%= config.title %>!!!!</title>

 <!-- Twitter bootstrap (via cdn) -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
 <link rel="stylesheet" href="<%- url_for('/highlighting.css') %>">

</head>
<body>
 <div class='container'> 	
  <%- body %>
 </div>
</body>
</html>